// variables.scss

// Background colors
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;

// Text colors
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

// Other variables
$border-color: #cccccc;
$button-background-color: #007bff;
$button-text-color: #ffffff;
$button-hover-background-color: #0056b3;
$link-color: #007bff;
