@import "../../styles/variables.scss"; // Import des variables SCSS globales
@import "../../styles/responsive.scss"; // Import des mixins pour les médias queries

.home {
  display: grid; // Utilisation de la grille CSS pour la mise en page
  gap: 20px; // Espacement entre les éléments de la grille
  grid-template-columns: repeat(4, 1fr); // 4 colonnes de largeur égale
  grid-auto-rows: minmax(50px, auto); // Hauteur des lignes minimale de 50px
  grid-auto-flow: dense; // Remplissage automatique des espaces dans la grille

  // Configuration pour les écrans extra larges
  @include xl {
    grid-template-columns: repeat(3, 1fr); // 3 colonnes de largeur égale
  }

  // Configuration pour les écrans larges
  @include lg {
    grid-template-columns: repeat(2, 1fr); // 2 colonnes de largeur égale
  }

  // Configuration pour les écrans moyens
  @include md {
    grid-template-columns: repeat(1, 1fr); // 1 colonne de largeur égale
  }

  // Configuration pour les petits écrans
  @include sm {
    grid-auto-rows: minmax(120px, auto); // Hauteur des lignes minimale de 120px
  }

  .page-title {
    grid-column: span 4; // Le titre occupe 4 colonnes
    text-align: left; // Aligner le texte à gauche
    margin-bottom: none; // Pas d'espace sous le titre
    font-size: 1rem; // Taille de la police du titre
  }

  .title {
    font-size: 16px; // Taille de la police des sous-titres
  }

  .fullLengthBox {
    grid-column: span 4; // La boîte occupe 4 colonnes
    grid-row: span 2; // La boîte occupe 2 lignes
    border: 1px solid #000; // Bordure noire
    display: flex; // Utilisation de flexbox pour l'alignement interne
    align-items: center; // Alignement vertical centré
    justify-content: center; // Alignement horizontal centré
    padding: 10px; // Padding interne de 10px

    // Ajustements pour les écrans extra larges
    @include xl {
      grid-column: span 3; // La boîte occupe 3 colonnes
    }

    // Ajustements pour les écrans larges
    @include lg {
      grid-column: span 2; // La boîte occupe 2 colonnes
    }

    // Ajustements pour les écrans moyens
    @include md {
      grid-column: span 1; // La boîte occupe 1 colonne
    }
  }

  .info {
    grid-column: span 4; // La section info occupe 4 colonnes
  }

  button {
    background-color: #212121; // Couleur de fond des boutons
    color: #dadada; // Couleur du texte des boutons
    border: 2px solid $soft-bg; // Bordure des boutons
    width: 150px; // Largeur des boutons
    height: 50px; // Hauteur des boutons
    padding: 5px 5px; // Padding interne des boutons
    cursor: pointer; // Curseur de la souris en forme de pointeur

    // Styles pour les boutons en hover et actifs
    &:hover,
    &.active {
      background-color: #f5f5f5; // Couleur de fond en hover/actif
      color: #000000; // Couleur du texte en hover/actif
      border: 2px solid $soft-bg; // Bordure en hover/actif
      width: 150px; // Largeur en hover/actif
      height: 50px; // Hauteur en hover/actif
    }
  }

  .total-users {
    color: green;
  }
  


  .box {
    padding: 20px; // Padding interne des boîtes
    border-radius: 7px; // Bordure arrondie des boîtes
    border: 2px solid $soft-bg; // Bordure des boîtes
  }

  .box1 {
    grid-column: span 1; // La boîte 1 occupe 1 colonne
    grid-row: span 3; // La boîte 1 occupe 3 lignes
  }

  .box4 {
    grid-column: span 1; // La boîte 4 occupe 1 colonne
    grid-row: span 3; // La boîte 4 occupe 3 lignes
  }

  .box7 {
    grid-column: span 2; // La boîte 7 occupe 2 colonnes
    grid-row: span 2; // La boîte 7 occupe 2 lignes

    @include md {
      display: none; // La boîte 7 n'est pas affichée sur les écrans moyens
    }
  }
}
