@import "../../styles/variables.scss";

.add {
  width: 100vw;
  height: 100vh;  
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    width: 60%;
    padding: 20px;  // Ajuster le padding
    border-radius: 10px;
    background-color: $main-bg;
    position: relative;

    h1 {
      margin-bottom: 20px;
      font-size: 24px;
      color: $soft-color;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 24px;
      color: $soft-color;
    }

    form {
      display: flex;
      flex-direction: column;  // Align items vertically
      max-width: 100%;  // Utiliser toute la largeur disponible

      .item {
        width: 20%;  // Utiliser toute la largeur disponible
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        p {
          font-size: 14px;
        }
      }

      button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: hwb(104 61% 0%);
        color: rgb(14, 13, 13);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align-self: flex-end;  // Aligner le bouton à droite
      }
    }
  }
}
